body{
	font-family: 'fira sans'
}
.sb-container{
	width:1170px;
	margin:0 auto;
}
.new-subscription.sb-start{
	text-align:center;
}
.sb-stitle{
	font-size:22px;
	color:#00b3ba;
	line-height:23px;
	font-weight:500;
	margin-bottom:40px;
}
.sb-review.image-list li{
	width:250px;
	padding:0 10px;
}
.sb-review.image-list .image-list-img{
	width:74px;
	height:74px;
	background-color:#007b80;
}
.sb-review.image-list .image-list-txt{
	margin-top:25px;
}

/* Sub bar checklist*/
.sb-review-checklist{
	background-color:#f7f7f7;
	text-align:center;
	margin-bottom:25px;
}
.sb-review-checklist ul{
	display:table;
	margin:0 auto;
	padding:20px 0
}
.sb-review-checklist ul li{
	display:table-cell;
	vertical-align:top;
	padding:0 15px;
	font-size:16px;
	text-align:left;
	width:250px;
}
.sb-review-checklist ul li div{
	position:relative;
}
.sb-review-checklist ul li p{
	padding-left:25px;
	margin-bottom:0;
}
.sb-review-checklist ul li .icon{ color:orange; position:absolute;}

/* sub action*/
.sb-review-action{ display:inline-block;}
.sb-review-action label{ font-size:16px; font-weight:normal;}
.sb-review-checkbox, .sb-review-btn{
	display:table-cell;
	vertical-align:middle;
}
.sb-review-checkbox [type="checkbox"]:not(:checked)+label, .sb-review-checkbox [type="checkbox"]:checked+label{
  padding-left:45px;
  line-height: 25px;
  margin-bottom:0;
}
.sb-review-btn{
	padding-left:60px;
}
@media all and (max-width:767px){
	.new-subscription.sb-start{ 
		text-align:left;
	}
	.sb-stitle{
		padding:0 30px;
	}
	.sb-review.image-list{
		padding:0 30px;
	}
	.sb-review.image-list li{
		width:100%;
		padding:0;
		text-align:left;
		margin-bottom: 20px;	
	}
	.sb-review.image-list .image-list-img{
		vertical-align:middle;
		display:table-cell;
		text-align:center;
	}
	.sb-review .image-list-img .icon-1{
		display:inline;
	}
	.sb-review .image-list-txt{
		display:table-cell;
		vertical-align:middle;
		padding-left:30px;
	}
	.sb-review-checklist{
		height:auto;
		padding:30px;
	}
	.sb-review-checklist ul{
		height:auto;
	}
	.sb-review-checklist ul li{
		display:block;
		width:100%;
		    text-align: left;
	}
	.sb-review-action{
		padding:0 30px;
	}
}
@media all and (max-width:479px){
	.sb-review-action{ padding:0;}
	.sb-review-checkbox, .sb-review-btn{ display:block; width:100%; padding:0 30px; margin-bottom:20px;}
}


/* image list*/
.image-list{
	margin-bottom:0;/**/
}
.image-list li{
	display:inline-block;
	text-align:center;
	vertical-align: top;
}
.image-list li{}

.image-list-img{
	border-radius:50%;
	position:relative;
	background-color:#00b3ba;
	width:64px;
	height:64px;
	margin:0 auto;
	display:table;
}
.image-list-img .icon-1{
	font-size:35px;
	color:white;
	display:table-cell;
	vertical-align:middle;
	position: relative;
    top: -1px;
}
.image-list-img .icon-2{
	position: absolute;
    right: -4px;
    top: 0;
    font-size: 25px;
    color: orange;
}
.image-list-img .icon-2:before{ z-index:2; position:relative;}
.image-list-img .icon-2:after{
	background:white;
	border-radius:50%;
	content:"";
	position:absolute;
	z-index:1;
	left:1px;
	width:23px;
	height:23px;
}
.image-list-txt{
	margin-top:15px;
	font-size:1rem;
	margin-bottom:0;/**/
}
.image-list-txt em{ font-weight:500;}




/* Sub steps*/

.sb-flow-steps{
	text-align:center;
}
.sb-steps.image-list li{
	width:170px;
	padding:0 10px;
	position:relative;
	opacity:0.4;
}
.sb-steps.image-list li .image-list-txt{
	color:#00b3ba;
}
.sb-steps.image-list li.active{
	opacity:1;
}
.sb-steps.image-list li:before{
	content: "";
    position: absolute;
    height: 3px;
    top: 30px;
    left: 126px;
	background-image: linear-gradient(to right, #00b3ba 65%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 7px 2px;
    background-repeat: repeat-x;
    width: 92px;
}
.sb-steps.image-list li:last-child:before{
	background-image:none;
}
.sb-steps.image-list li.active.done .image-list-img{
	background:orange;
}
.sb-steps.image-list li.active.done .image-list-txt{
	color:orange;
}
.sb-steps.image-list li.active.done:before{
	background-image: linear-gradient(to right, orange 65%, rgba(255,255,255,0) 0%);
}

.sb-flow-step-bar{ padding:15px 0 13px 0;background-color:#f7f7f7;margin-top: 40px; }
.sb-flow-step-txt h1{ font-size:20px; margin:0;}
.sb-flow-step-txt h1 span{ font-weight:normal;}

/* sub cont*/
.sb-container.sb-flow-eid{ padding:45px 100px 60px 100px}
.sb-eid-selection{ margin-top:65px; margin-bottom:70px;}
.sb-eid-container{ width:375px; float:left; padding-right:20px;}
.sb-eid-container:first-child{ padding-left:0;}
.sb-eid-container:last-child{ padding-right:0;}

.sb-flow-eid .sb-picture-blk.pic-bck{ margin-top:30px;}
.sb-picture-holder{ width:100%; border:1px solid #b2b2b2; border-radius:3px;text-align:center; height:240px; display:table}/**/
.sb-picture-holder .image-list{ display:table-cell; vertical-align:middle;}
.sb-picture-holder .image-list-txt{ font-size:22px; font-weight:500;}
.sb-picture-holder .image-list span{ font-size:12px;}
.sb-picture-txt h5{ margin-top:0;}
.sb-picture-txt span{ font-size:12px;}

.sb-id-details{ margin-top:30px;}
.sb-id-details .sb-eid-container{ width:300px;}
.sb-id-details .form-group{ }

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
	line-height: 1.4;
	margin-left:0;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	height:100%;
}



@media all and (max-width:991px) and (min-width:768px){
	.sb-container{width:750px;padding:0 10px;}
	.sb-steps.image-list li{ width:140px;}
	.sb-steps.image-list li:before{ left:110px; width:64px;}
	.sb-container.sb-flow-eid{ padding-left:0; padding-right:0; padding-top:20px;}
	
	.sb-promo-block .btn-cont-right{ float:none;text-align: center; margin-bottom:30px;}
	.sb-promo-block .btn-cont-right .btn{ float:none;}
}

@media all and (max-width:767px){
	.sb-container{width:100%;}
	.sb-steps.image-list li{ width:auto; padding:0 8px; position:inherit;}
	.sb-steps.image-list li:first-child{ padding-left:0;}
	.sb-steps.image-list li:last-child{ padding-right:0;}
	.sb-steps.image-list .image-list-img{ width:42px; height:42px;}
	.sb-steps.image-list .image-list-img .icon-1{ font-size:25px;}
	.sb-steps.image-list li .image-list-txt, .sb-steps.image-list li.active.done .image-list-txt{ display:none;}
	.sb-steps.image-list li.active .image-list-txt{ display:block; position:absolute; width:100%; left:0;}
	.sb-steps.image-list li:before, .sb-steps.image-list li.active.done:before{ background:none; display:none;}
	.sb-flow-step-bar{ margin-top:50px;}
	.sb-container.sb-flow-eid{ padding:20px 10px 60px 10px; text-align:center;}
	.sb-container{ padding:0 10px}
	
	.sb-eid-container{ padding-right:0;}
	
	.sb-promo-block .btn-cont-right{ float:none;text-align: center;}
	.sb-promo-block .btn-cont-right .btn{ float:none;}
	
	.sb-picture-blk, .sb-id-details{ display:inline-block;}
	.sb-id-details .sb-eid-container{ width:375px;}
	.sb-picture-blk h3, .sb-id-details h4, .sb-id-details .form-group label{ text-align:left;}
	.sb-picture-holder .image-list{ margin-top:}
}
@media all and (min-width:992px) and (max-width:1199px){
	.sb-container{ width:960px}
}


/* radio new */
.image-radio{ width:300px; border:1px solid #b2b2b2; padding:20px 20px 20px 35px; border-radius:3px; position:relative;}
.image-radio i{position: absolute;top: 17px;right: 20px;font-size: 30px;}
.image-radio.active{ border:1px solid #00b3ba;}
.image-radio.active i{ color:#00b3ba;}
.image-radio.active:before{ border-left:5px solid #00b3ba; position:absolute; height:100%; left:0; content:""; top:0;}



.regular-radio + label{ padding-left:35px;}


.sb-footer{ padding:12px 25px; background:#0d999e; position:fixed; bottom:0; left:0; width:100%;}
.sb-footer .btn-lnk{ color:#ffffff;}

@media all and (max-width:479px){
	.sb-picture-blk, .sb-id-details{ display:block;}
	.sb-eid-container, .sb-id-details .sb-eid-container{ width:100%;}
	.sb-footer .btn-cont-right{ float:right;}
	.sb-footer .btn-cont-left{ float:left;}
	.sb-footer .btn{ width:auto !important; margin-bottom:0;}
	.sb-footer .download-txt{ display:none;}
}

.btn-icon-xs{ padding-left:0; padding-right:0;min-width: inherit;}

