html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,main {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main {
    display: block
}

body {
    line-height: 1
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

code {
    font-family: 'Source Code Pro',"Courier New"
}

.services ul,
#pagination,
.wpcf7,
textarea,
.add-comment,
.comment-single,
.required,
input,
.blockUI,
.nav-archive,
.date-and-author,
.featured li,#searchform,h1,h2,h3,h4,h5,h6 {
    font-family: 'Lato',sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

header[role="banner"] nav,
.item,
.back-to-top,
.note,
.subtitle,
.date,
.posts .title,
.right-column,
a[rel~="tag"],
.footer .links,
.intro h1,
.intro h2,
.intro.front h1,
.button,
article,
.logo-name h1,
.logo-name h2,
.logos strong,.footer.group,.archives-year,.archives-categories {
    font-family: 'Lato',sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}


.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    line-height: 1.4;
    margin-left: 0;line-height:1.4;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
}