.sb-sign h4{ padding-bottom:20px; border-bottom:1px solid #dddfe0; margin:0;}
.sb-doc-grp + .sb-doc-grp{ padding-top:10px; padding-bottom:30px}

.sb-sign .row-details{ padding:14px 0;}


.sb-sign a, .sb-sign a:hover{color:#4d4d4d;}
.sb-sign-downlnk{ display:block; text-decoration:underline;}
.sb-doc-weight{ display:block; font-size:12px; margin-top:2px;}
.sb-doc-check{ float:right; margin-top:10px;}
.sb-sign .sb-sign-download{ display:inline-block; font-size:24px; color:#00b3ba; margin-top:8px;}

.sb-sign-check{ margin-top:50px;}
ul.sb-checks{ list-style:none; margin-top:30px; margin-bottom:30px;}
ul.sb-checks li + li{ margin-top:15px;}


.sb-sign-type-selection{ border:1px solid #b2b2b2; border-radius:3px; padding:30px; width:350px; display:inline-block;color:#4d4d4d; margin-right:20px; vertical-align:top;}
.sb-sign-type-selection h3{ margin-top:0;}
.sb-sign-type-selection p{ min-height:72px;}
.sb-sign-type-selection .btn-cont{ margin-top:20px;}


@media all and (max-width:767px){
	.sb-doc-check{ float:left;}
	.sb-sign-download{ float:right;}
	.sb-sign-type{ text-align:center;}
	.sb-sign-type-selection{ margin-bottom:20px; margin-right:0;}
}
@media all and (max-width:479px){
	.sb-sign-type-selection{ width:100%;}
}


